<template name="clientPage">
    <div class="well well-lg">
        <div class="client">
            <div class="client__avatar">

            </div>
            <div class="client__info">
                <div class="client__info__name">
                  {{firstName}} {{lastName}}
                </div>
                <div class="client__info__address">
                  {{address}}
                </div>
                <div class="client__info__phone">
                  {{phone}}
                </div>
            </div>
            <div class="applications">

            </div>
        </div>
    </div>
</template>