@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);

body {
    background: #eee;
    color: #666666;
    font-family: 'PT Serif';
}

#main {
    overflow: auto;
}

.navbar {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 0;
}

.nav a {
    transition: 0.2s;
    border-bottom: 2px solid transparent;
    font-size: 1.2em;
}

.nav > li > a:hover {
    text-decoration: none;
    border-color: #55AAAA;
}

.navbar-brand {
    font-family: 'Lobster';
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 50px 0 20px;
}

#spinner {
    height: 300px;
}


.client:before, .client:after {
    content: "";
    display: table;
}

.client:after {
    clear: both;
}

.client.invisible {
    opacity: 0;
}

.client.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.client.animate {
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}

.client .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}

.client .client-content {
    float: left;
}

.client .client-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.client .client-content h3 a {
    display: inline-block;
    margin-right: 5px;
}

.client .client-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}

.client .client-content p {
    margin: 0;
}

.client .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}

.errors{
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}

.about-miqrofin {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    background-color: #55AAAA;
    color: #ffffff;
    overflow: auto;
}

.about-text {
    position: relative;
    font-size: 3.0em;
    float:left;
    width: 80%;
    top: 15%;
    left: 11%;
}

.about-text a {
    color: #000;
}

.table thead > tr > th { border-bottom: none; }

.page-header {
    margin: 0px 0 20px;
}

.right {
    float: right;
    margin-right: 20px;
}