<template name="applicationPage">
    <div class="well well-lg">
        <form role="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" value="{{title}}">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" name="type" value="{{type}}">
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" name="amount" value="{{amount}}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="textArea" class="form-control" name="description" value="{{description}}">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" name="location" value="{{location}}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/clients" class="btn btn-default">Cancel</a>
        </form>
    </div>
</template>